In [109]:
import pandas as pd

# import data

In [110]:
#for gender 1 is for male while is for female
movie_data = pd.read_csv('movie_recommendation.csv')
movie_data

    age  gender movie type
0    29       1     horror
1    22       0       epic
2    35       1     action
3    24       1     comedy
4    17       0   cartoons
5     4       1   cartoons
6     7       0   cartoons
7    15       1   cartoons
8    78       1      drama
9    79       0     gospel
10   37       1      drama
11   35       0     horror
12   19       1     action

In [111]:
#statistics 
#also no need to clean data 
movie_data.describe()

             age     gender
count  13.000000  13.000000
mean   30.846154   0.615385
std    23.479942   0.506370
min     4.000000   0.000000
25%    17.000000   0.000000
50%    24.000000   1.000000
75%    35.000000   1.000000
max    79.000000   1.000000

#  split the data into training data and testing data

In [112]:
x = movie_data.drop(columns = ['movie type'])  #inputset or testing data
x

    age  gender
0    29       1
1    22       0
2    35       1
3    24       1
4    17       0
5     4       1
6     7       0
7    15       1
8    78       1
9    79       0
10   37       1
11   35       0
12   19       1

In [113]:
y = movie_data['movie type'] #output data or training data 
y

0       horror
1         epic
2       action
3       comedy
4     cartoons
5     cartoons
6     cartoons
7     cartoons
8        drama
9       gospel
10       drama
11      horror
12      action
Name: movie type, dtype: object

# create a model ,train the model

In [114]:
import pandas as pd 
from sklearn.tree import DecisionTreeClassifier
x = movie_data.drop(columns = [ 'movie type'])
y = movie_data['movie type']
model = DecisionTreeClassifier() #creating the model using the DecisionTreeClassifier algorithm
model.fit(x, y) #training the model
movie_data

    age  gender movie type
0    29       1     horror
1    22       0       epic
2    35       1     action
3    24       1     comedy
4    17       0   cartoons
5     4       1   cartoons
6     7       0   cartoons
7    15       1   cartoons
8    78       1      drama
9    79       0     gospel
10   37       1      drama
11   35       0     horror
12   19       1     action

# making predictions

In [115]:
predictions =model.predict([[21,0] , [9,0]  , [14,1] , [80,0]]) #parsing input sets/testing data
predictions

array(['epic', 'cartoons', 'cartoons', 'gospel'], dtype=object)

# calculating its accuracy

In [116]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split   
from sklearn.metrics import accuracy_score

x = movie_data.drop(columns= ['movie type']) #testing data
y = movie_data['movie type'] #training data

#splitting data sets into 2 for training and testing 
x_train, x_test, y_train, y_test = train_test_split(x, y,  test_size = 0.2)
model = DecisionTreeClassifier()
model.fit(x_train,  y_train)  #training data set
predict = model.predict(x_test)
accuracy = accuracy_score(y_test , predict)
accuracy
#66% means the model is accurate enough

0.6666666666666666