In [67]:
import numpy as np
import pandas as pd
df = pd.read_csv('Data_for_UCI_named.csv')
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,0.023892,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,-0.025803,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,-0.031810,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,0.037789,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,0.045263,unstable

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tau1    10000 non-null  float64
 1   tau2    10000 non-null  float64
 2   tau3    10000 non-null  float64
 3   tau4    10000 non-null  float64
 4   p1      10000 non-null  float64
 5   p2      10000 non-null  float64
 6   p3      10000 non-null  float64
 7   p4      10000 non-null  float64
 8   g1      10000 non-null  float64
 9   g2      10000 non-null  float64
 10  g3      10000 non-null  float64
 11  g4      10000 non-null  float64
 12  stab    10000 non-null  float64
 13  stabf   10000 non-null  object
dtypes: float64(13), object(1)
memory usage: 1.1+ MB

In [69]:
df.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [70]:
df.isnull()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [71]:
df.drop(['stab'],axis=1,inplace=True)
df

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,unstable
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.930406,9.487627,2.376523,6.187797,3.343416,-0.658054,-1.449106,-1.236256,0.601709,0.779642,0.813512,0.608385,unstable
9996,3.392299,1.274827,2.954947,6.894759,4.349512,-1.663661,-0.952437,-1.733414,0.502079,0.567242,0.285880,0.366120,stable
9997,2.364034,2.842030,8.776391,1.008906,4.299976,-1.380719,-0.943884,-1.975373,0.487838,0.986505,0.149286,0.145984,stable
9998,9.631511,3.994398,2.757071,7.821347,2.514755,-0.966330,-0.649915,-0.898510,0.365246,0.587558,0.889118,0.818391,unstable
9999,6.530527,6.781790,4.349695,8.673138,3.492807,-1.390285,-1.532193,-0.570329,0.073056,0.505441,0.378761,0.942631,unstable

In [72]:
X = df.drop(['stabf'],axis=1)
Y = df['stabf']
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,Y, train_size=0.8, test_size=0.2, random_state=1)
from sklearn.preprocessing import MinMaxScaler
MinMaxScaler(x_train,y_train,x_test)

C:\Tools\Anaconda3\lib\site-packages\sklearn\utils\validation.py:70: FutureWarning: Pass copy=2694    unstable
5140    unstable
2568    unstable
3671    unstable
7427    unstable
          ...
2895      stable
7813      stable
905     unstable
5192    unstable
235       stable
Name: stabf, Length: 8000, dtype: object, clip=          tau1      tau2      tau3      tau4        p1        p2        p3  \
9953  6.877876  4.113820  9.356768  8.299753  4.056779 -1.897470 -1.590581
3850  5.802841  6.271371  4.731540  3.819867  3.579569 -1.709480 -1.067511
4962  2.286998  4.385142  2.830232  5.293880  3.035814 -1.202764 -0.902011
3886  5.019920  2.209962  6.266080  0.578901  4.322584 -1.960207 -1.074561
5437  7.646145  9.187896  5.484219  9.934313  3.634226 -1.254541 -1.335366
...        ...       ...       ...       ...       ...       ...       ...
3919  8.320531  3.394352  1.468729  8.766874  3.940123 -1.599081 -0.931023
162   2.290102  3.028512  8.071234  6.169944  3.624592 -1.104003 -0.820951
7903  7.848945  0.684889  0.728223  6.702948  2.599685 -0.563497 -1.210069
2242  2.173967  5.776797  4.597638  6.399330  2.869349 -0.931891 -1.237955
2745  1.467618  9.389085  6.019740  9.376247  4.242404 -1.894794 -1.589085

            p4        g1        g2        g3        g4
9953 -0.568728  0.276567  0.845536  0.112440  0.822562
3850 -0.802579  0.077527  0.416478  0.912846  0.861306
4962 -0.931039  0.924216  0.130186  0.703887  0.063811
3886 -1.287815  0.546910  0.065992  0.427349  0.814648
5437 -1.044319  0.561528  0.121611  0.787318  0.300314
...        ...       ...       ...       ...       ...
3919 -1.410020  0.657445  0.493384  0.178907  0.173240
162  -1.699638  0.785595  0.770194  0.234290  0.225070
7903 -0.826119  0.185122  0.559799  0.682418  0.886902
2242 -0.699503  0.942680  0.743103  0.152161  0.305183
2745 -0.758525  0.659519  0.273217  0.526145  0.851163

[2000 rows x 12 columns] as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

MinMaxScaler(clip=          tau1      tau2      tau3      tau4        p1        p2        p3  \
9953  6.877876  4.113820  9.356768  8.299753  4.056779 -1.897470 -1.590581
3850  5.802841  6.271371  4.731540  3.819867  3.579569 -1.709480 -1.067511
4962  2.286998  4.385142  2.830232  5.293880  3.035814 -1.202764 -0.902011
3886  5.019920  2.209962  6.266080  0.578901  4.322584 -1.960207 -1.074561
5437  7.646145  9.187896  5.484219  9.934313  3.634226 -1.254541 -1.33536...
3671 -0.963293  0.260826  0.899003  0.964752  0.600598
7427 -0.971782  0.984580  0.716082  0.836928  0.165162
...        ...       ...       ...       ...       ...
2895 -1.000696  0.191864  0.611297  0.080008  0.350312
7813 -1.705024  0.223384  0.317770  0.726623  0.441620
905  -1.704387  0.868306  0.605566  0.100591  0.747320
5192 -1.241311  0.473917  0.418512  0.326253  0.982488
235  -1.907153  0.861961  0.202768  0.848373  0.739993

[8000 rows x 12 columns])

In [86]:
#using esemble methods and multiclassifications on the dataset 
from sklearn.tree import  DecisionTreeClassifier
from xgboost import XGBClassifier 
from lightgbm import LGBMClassifier
model1 = DecisionTreeClassifier().fit(X,Y)
model2 = XGBClassifier().fit(X,Y)
model3 =  LGBMClassifier().fit(X,Y)

C:\Tools\Anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[23:13:39] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

In [88]:
model1.predict(x_test) #making predictions with the decision tree

array(['unstable', 'unstable', 'stable', ..., 'stable', 'unstable',
       'unstable'], dtype=object)

In [96]:
#accuracy of the deciscion tree model
from sklearn.model_selection import KFold 
kf =KFold(n_splits= 5)
kf.split(x_train)
from sklearn.model_selection import cross_val_score
train_score = cross_val_score(model1, X,Y, scoring='accuracy', cv=5)
print(f'Accuracy: {(train_score*100)}%')

Accuracy: [83.15 84.1  83.75 84.7  82.65]%

In [98]:
#accuracy of LGBM model
model2.predict(x_test)
train_score = cross_val_score(model3, X,Y, scoring='accuracy', cv=5)
print(f'Accuracy: {(train_score*100)}%')

Accuracy: [94.75 94.35 94.65 94.6  93.55]%